<style>
  .vh-50 {
    height: 50vh;
}
.sec-1-cols {
    margin-top: 60px;
}
.col-sm h3 {
    font-size: 15px;
}
.col-sm p {
    opacity: 60%;
    cursor: pointer;
}
.col-sm p:hover {
    opacity: 100%;
}
a {
  text-decoration: none;
  color: white;
}

</style>
<section class="bg-dark" style="padding: 20px;">
    <div class="container">
        <div class="row text-white">
          <div class="col-sm sec-1-cols text-center">
            <h3 style="cursor: pointer;">Me</h3>
            <a href="/api/log-in"><p>Log In</p></a>
            <a href="/api/registration"><p>Registration</p></a>
          </div>
          <div class="col-sm sec-1-cols text-center">
            <h3>Other</h3>
            <a href="/about"><p>About us</p></a>
            <!-- <a href="/contact"><p>Contact</p></a> -->
            <a href="/terms"><p>Terms and Conditions</p></a>
          </div>
          <div class="col-sm sec-1-cols text-center">
            <h3>Clothes</h3>
            <a href="/products"><p>Products</p></a>
          </div>
        </div>
      </div>
</section>
</body>
</html>
