<%- include('./partials/header')%>
<style>
    .containers {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-gap: 20px;
    justify-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}
li {
  list-style-type: none;
}
.see-product {
  font-size: 23px;
  font-weight: 600;
  cursor: pointer;
}
.see-product:hover {
  text-decoration: underline;
}
</style>

<section>
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img style="object-fit: cover; object-position: center top;" src="https://media.gq-magazine.co.uk/photos/6205476668071f7ecff06fbd/16:9/w_1920,c_limit/100222_Balenciaga_hp.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://sneakernews.com/wp-content/uploads/2023/10/mm6-maison-margiela-salomon-cross-mid-4.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://assets.vogue.com/photos/589135d923f9887c0e0df97a/master/w_1920,c_limit/01-vetements.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>


  <section>
    <div class="product">
        <div class="container text-center" style="margin-bottom: 200px; margin-top: 200px;">
           
            <div class="row align-items-start" style="margin-top: 20px; ">
              <div class="col">
                <img src="/images for main/Carhartt WIP Showcases Summer Denim Styles in _Boroughs_ Editorial.jpg" style="width: 60%; height: auto;" class="card-img-top" alt="Product Image">
              </div>
            </div>

            <div class="row align-items-start" style="margin-top: 20px; ">
              <% if(userIsLoggedIn) { %>
              <div class="col align-items-start">
                <a href="/products" style="color: black;"><p class="see-product">See Product</p></a>
              </div>
              <% } else {%>
                <div class="col align-items-start">
                  <a href="/log-in"  style="color: black;"><p class="see-product">See Product</p></a>
                </div>
                <% } %>
              <div class="col align-items-start">
              </div>
            </div>

            <div class="row align-items-start" style="margin-top: 20px; ">
              <div class="col">
                <img src="/images for main/@taira__kakeru on twitter.jpg" style="width: 60%; height: auto;" class="card-img-top" alt="Product Image">
              </div>
            </div>
            <div class="row align-items-start" style="margin-top: 20px; ">
              <div class="col">
                <img src="/images for main/download.jpg" style="width: 60%; height: auto;" class="card-img-top" alt="Product Image">
              </div>
            </div>

            <div class="row align-items-start" style="margin-top: 20px; ">
              <div class="col">
                <img src="/images for main/i-D.jpg" style="width: 60%; height: auto;" class="card-img-top" alt="Product Image">
              </div>
            </div>

            <div class="row align-items-start" style="margin-top: 20px; ">
              <div class="col">
                <img src="/images for main/download (1).jpg" style="width: 60%; height: auto;" class="card-img-top" alt="Product Image">
              </div>
            </div>

            <div class="row align-items-start" style="margin-top: 20px; ">
              <div class="col">
                <img src="/images for main/Aimé Leon Dore _ Suicoke FW18.jpg" style="width: 60%; height: auto;" class="card-img-top" alt="Product Image">
              </div>
            </div>
            
        </div>
    </div>
  </section>

<%- include('./partials/footer')%>


