<%- include('./partials/header')%>
    <style>
        .containerr {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            
        }
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
            font-size: 1.2em;
            color: #555;
        }
    </style>

<div class="containerr">
    <h1>Welcome to Your Website</h1>
    <p>This is the home page of your website</p>
</div>

</body>
</html>
