<%- include('./partials/header')%>
<style>
    .terms-section div {
    margin-top: 50px;
    }
    .terms-section h4 {
    color: grey;
    margin-top: 30px;
    }
    .terms-section p {
    color: grey;
    margin-top: 30px;
    }
    .terms-section ul li {
    color: grey;
    }
</style>
<section style="padding: 80px 20px;" class="terms-section container">
    <div>
        <h2 style="font-weight: 700">Terms and Conditions</h2>
        <h4>Privacy Policy</h4>
        <p>This privacy policy outlines the information collection practices on the Civy online website. Please carefully read this document to understand how your personal data is gathered, used, shared, and protected, as well as the choices available to you regarding your personal information.</p>
    </div>
   <div>
    <h4>WHAT PERSONAL INFORMATION DO WE COLLECT AND WHEN?</h4>
    <p>When you visit the Civy online website, register, make purchases, or contact our customer services, we may request the following personal data: contact details like name, email, telephone number, and shipping/billing address; login and account information, including password and unique user ID; payment or credit card details; personal preferences, including your wish list and marketing preferences. Users can manage personal information through the user profile page.</p>

   </div>
   <div>
    <h4>WHY AND HOW DO WE USE YOUR PERSONAL INFORMATION?</h4>
    <p>Our goal is to provide an excellent customer experience by understanding your needs. We collect and use your personal information to:</p>
    <ul>
        <li>Fulfill orders and provide the products you've ordered or requested.</li>
        <li>Process and ship orders efficiently.</li>
        <li>Send order and shipping confirmations.</li>
        <li>Respond to your comments, questions, or complaints.</li>
        <li>Market our products to you via email. However, you can opt-out by using the "unsubscribe" option in marketing emails.</li>
    </ul>
   </div>
   <div>
    <h4>PROTECTION AND MANAGEMENT OF YOUR PERSONAL INFORMATION SECURITY</h4>
    <p>We prioritize the privacy and security of your data. Technical and organizational security measures are implemented to safeguard your personal information. The Civy online website is secured with a "Security Certificate," and data exchange is encrypted through the https protocol. While we implement measures, we also rely on your cooperation to protect your data against unauthorized disclosure or misuse.</p>
   </div>
</section>
<%- include('./partials/footer')%>
